@page "/stocks"
@using System.Text.Json;
@using System.Net;
@using Client.Repositories.Stock;
@using Newtonsoft.Json;
@* @inject HttpClient httpClient *@
@inject NavigationManager NavManager
@inject IStockRepository stockRepository

<h1>Search for Stocks</h1>

<h3 style="@(showErrorMessage ? "color: red" : "display:none")">Please Enter a Stock Ticker</h3>
<br />

<input class="form-control mr-sm-2" type="search" placeholder="Enter Stock Ticker" aria-label="Search" @bind-value="searchQuery" @bind-value:event="oninput" />
<br />

<button type="button" class="btn btn-primary" @onclick="getSearchResults">Search</button>
<br />

@if(searchResults != null)
{
    <h1>Results</h1>

    <div class="SearchResults" style="display: flex; justify-content: space-between;">
        @foreach (var result in searchResults)
        {

            <div class="card" style="width: 20rem; margin-left: 20px;">
                <div class="card-body">
                    <h3 class="card-title"><b>@result.Name</b></h3>
                    <h6><u>Symbol:</u> @result.Symbol</h6>
                    <h6><u>Type:</u> @result.Type</h6>
                    <h6><u>Region:</u> @result.Region</h6>
                    <h6><u>Market Open:</u> @result.MarketOpen</h6>
                    <h6><u>Market Close:</u> @result.MarketClose</h6>
                    <h6><u>Timezone:</u> @result.Timezone</h6>
                    <h6><u>Currency:</u> @result.Currency</h6>

                    <button @key=result type="button" class="btn btn-primary" @onclick='() => NavigateToStockPage(result.Symbol)'>View Stock Data and Investments</button>

                </div>
            </div>

            <br />
        }
    </div>

}

@if(searchResults != null && !searchResults.Any())
{
    <h1>No Reuslts Found</h1>
}


